body {
	font-family: 'Roboto Condensed', sans-serif;
}


nav {
	background-color: #003256;
}

footer {
	background-color: #003256;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.course-footer{
	position: relative !important;
}

.jumbotron-profile {
	background-color: #003256;
	border-radius: 0;
	padding: 16px;
} 

.jumbotron {
	border-bottom: 1px solid;
	border-radius: 0;
}

.card {
	background-color: linear-gradient(#003256, white, #003256);
}

.btn:hover {
	background-color: white;
	color: black;
}

.btn {
	background-color: #003256;
	color: white;
}

.container-index {
	padding: 15px;
	/*position: absolute;*/
}

.jumbotron-course {
	background-color: white;
	border: 1px solid;

}

#enrollButton {
	width: 75%;
}

#studentsContainer div {
	margin: 0 auto;
}

h1, .card-title, .lead {
	color: #003256;
}

#courses-container {
	color: #003256;
	
}